<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript"></script>
    <title>Title</title>
    <style>
        body {
            height: 100px;
        }

        body:hover {
            background-color: honeydew;
        }

        .target {
            position: relative;
            width: 5px;
            height: 5px;
            background-color: red;
        }

        .target:hover {
            background-color: green;
        }

    </style>
</head>
<body>
<div id="point" class="target" style="top: 30px; left: 30px;"></div>
</body>
</html>